<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConstellationStation.TestRunner.TestRunnerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ConstellationStation.TestRunner.TestRunnerSettings>
            <setting name="UnitTestsPath" serializeAs="String">
                <value>..\..\..\Tests\bin\Debug\ConstellationStation.Tests.dll</value>
            </setting>
        </ConstellationStation.TestRunner.TestRunnerSettings>
    </applicationSettings>
</configuration>